* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

h1 {
  padding: 0;
  margin: 0;
}

h2,
h3 {
  margin: 0;
  font-family: Prata, serif;
}

h2 {
  color: $orange;
}

h3 {
  color: $dark;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.section {
  margin-bottom: 24px;
}

.section-title {
  margin-bottom: 16px;
  font-size: 26px;
}

.item-title {
  color: $dark;
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 10px;
}

.item-subtitle {
  margin-bottom: 20px;
  font-family: Prata, serif;
  font-size: 17px;
  line-height: 19px;
  color: $grey;
}

.text {
  margin-bottom: 16px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: $dark;
}
